<!-- <ul>
  <li routerLink="/login">Login</li>
  <li routerLink="/register"> Reggister</li>
</ul> -->



<!-- <router-outlet></router-outlet> -->
<!-- <h1>hiii</h1> -->
<!-- Data Binding  -->
<!-- Interpolation {{}}
Property Binding []
Event Binding ()
Two way Binding [()] -->
<!-- {{inputValue}} -->
<!-- Date is {{Date}}
<button [disabled]="flag">Click me</button>
<button (click)="m1()">Click me</button>
<input [(ngModel)]="inputValue" /> -->

<!-- <app-login></app-login> -->
<!-- pipes : it is used to change a predefined value to UserDefined 
syntax : {{varibale|pipename}} -->
<!-- {{firstName|uppercase}}

{{upperFirst|lowercase}}
{{currency|currency:'INR'}}
{{currency|currency}}
{{number1|number:'.2'}}
{{jvalue|json}}
{{Date|date:'medium'}}
{{fullLength|converion:'min'}}
<nz-select [(ngModel)]="state" (ngModelChange)="optionsChnage($event)">
  <nz-option nzValue="India" nzLabel="India"></nz-option>
  <nz-option nzValue="Nepal" nzLabel="Nepal"></nz-option>
</nz-select>
<nz-select>
  <nz-option *ngFor="let data of statesDropdown" [nzValue]="data.State" [nzLabel]="data.State"></nz-option>

</nz-select> -->

<!-- Directives  4 Types

 1. Componentdirective
 2.  Atttribute Directives
 3.   Structural Directives
 4.  UserDefined Directive

 NgStyle and NgClass -->
<!-- <div  [ngClass]="colorFlag ?'bg_blue':'bg_green'">
HIiiiiiiiii
 </div> -->

<!-- <button (click)="ColorChnage()">Click</button>

<div [ngStyle]="{'background-color': colorFlag ? 'blue':'red'}">
  HIiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
</div> -->

<!-- Structural Directives are 4 :
 1. ngIF 
 2. ngIf Else
 3.ngFor
 4. ng Switch -->

<!-- <div *ngIf="colorFlag; else  samrat "> Color :blue</div>
<ng-template #samrat>
  Color:green

</ng-template>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>UserName</th>
      <th>Email ID</th>
    </tr>
  </thead>
  <tbody> -->
    <!-- let and of are predefined option is userdefined -->
    <!-- <tr *ngFor="let option of tableData" [ngStyle]="{'background-color':option.username ==='Bret' ?'red':'blue'}">
      <td>{{option.id}}</td>
      <td>{{option.name}}</td>
      <td>{{option.username}}</td>
      <td>{{option.email}}</td>
    </tr>

  </tbody>
</table>

<div [ngSwitch]="switchData">
  <p *ngSwitchCase="'ab'">Blue</p>
  <p *ngSwitchCase="'bc'">green</p>
  <p *ngSwitchDefault>NO Data</p>

</div>

<div>
  <div>

  </div>
  <div>

  </div>
  <div>

  </div>
</div> -->
<!-- <a routerLink="/mobiles">  Mobiles</a>
<router-outlet></router-outlet> -->
<!-- required
minlength
maxlength
min and max -->

<!-- ng-valid ng-invalid
ng-dirty ng-pristine
ng-touched ng-untouched  -->


<form nz-form #registerForm ="ngForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="email" type="email" id="email" [(ngModel)]="email" #email1="ngModel"  required>
    </nz-form-control>
   <span *ngIf="(email1.touched ||registerForm.submitted) && email1.invalid"> Email Should not be Empty</span> 
  </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="username">UserName</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="username" type="input" id="username" [(ngModel)]="username" #username1="ngModel"   minlength="5" required>
    </nz-form-control>
    {{username1.invalid}}
    <span *ngIf="(username1.touched ||registerForm.submitted) && username1.invalid">  UserName Should not be Empty</span> 
  </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="Password">Password</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="Password" type="Password" id="Password" [(ngModel)]="Password"   #password1="ngModel" required min="5">
    </nz-form-control>
    <span *ngIf="(password1.touched ||registerForm.submitted) && password1.invalid"> Password Should not be Empty</span> 
  </nz-form-item >
<div style="text-align: center;">
  <button nz-button *ngIf="registerForm.valid" >Submit</button>
  {{registerForm.valid}}
</div>
</form>


<form nz-form [formGroup]="reactForm" >
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input formControlName="email" nz-input name="email" type="email" id="email">
    </nz-form-control>
   <span *ngIf="submitted && f.email.errors" ><span *ngIf="f.email.errors.required"> Email Should not be Empty</span> </span>
  </nz-form-item >
  
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="Password">Password</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="Password" name="Password" type="Password" id="Password">
    </nz-form-control>
  </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="UserName">UserName</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="UserName" name="UserName" type="UserName" id="UserName">
    </nz-form-control>
  </nz-form-item >
  <div style="text-align: center;">
    <button nz-button  (click)="submit()">Submit</button>
    {{reactForm.valid}}
  </div>
</form>
